# Our regular development environment is dual-OS - the same working directory is accessed
# from both Windows and Linux. This means they need to agree on the line endings! All text
# is therefore using Linux line endings (LF).
* text eol=lf

# Binary files often seen in our documentation.
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
