[package]
name = "nm"
description = "Minimalistic high-performance metrics collection in highly concurrent environments"
publish = true
version = "0.1.29"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
all-features = true

[features]
default = []
# Enables test-only constructors for Report, EventMetrics, and Histogram.
# Only use this in dev-dependencies.
test-util = []

[dependencies]
foldhash = { workspace = true }
new_zealand = { workspace = true }
num-traits = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
many_cpus = { path = "../many_cpus" }
mutants = { workspace = true }
par_bench = { path = "../par_bench", features = ["criterion"] }
static_assertions = { workspace = true }

[lints]
workspace = true

[[bench]]
name = "nm_performance"
harness = false
