[package]
name = "opaque_pool"
description = "A pinned object pool that contains any type of object as long as it has a compatible memory layout"
publish = true
version = "0.4.0"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]

[lints]
workspace = true
