[package]
name = "fast_time"
description = "An efficient low-precision timestamp source suitable for high-frequency querying"
publish = true
version = "0.1.10"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[features]
default = []

[dependencies]

[target.'cfg(target_os = "linux")'.dependencies]
libc = { workspace = true }

[target.'cfg(windows)'.dependencies]
windows = { workspace = true, features = ["Win32_System_SystemInformation"] }

[dev-dependencies]
criterion = { workspace = true }
mockall = { workspace = true }
mutants = { workspace = true }
static_assertions = { workspace = true }

[lints]
workspace = true

[[bench]]
name = "timestamp_performance"
harness = false
