[package]
name = "cpulist"
description = "Parse and emit the Linux 'cpulist' data format used to list processors, memory regions and similar entities"
publish = true
version = "1.1.1"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
all-features = true

[features]
default = []

[dependencies]
itertools = { workspace = true }
new_zealand = { workspace = true }
ohno = { workspace = true }

[dev-dependencies]
static_assertions = { workspace = true }

[lints]
workspace = true
