[package]
name = "linked_macros"
description = "Internal dependency of the 'linked' package - do not reference directly"
publish = true
version = "1.0.3"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.cargo-machete]
ignored = ["proc-macro2"]

[lib]
proc-macro = true
doc = false

[dependencies]
linked_macros_impl = { workspace = true }
proc-macro2 = { workspace = true, features = ["proc-macro"] }

[dev-dependencies]

[lints]
workspace = true
