[package]
name = "testing"
description = "Private helpers for testing and examples in Folo packages"
publish = false
version = "0.0.1-never"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
doc = false

[features]
default = []

[dependencies]
parking_lot = { workspace = true }

[target.'cfg(windows)'.dependencies]
deranged = { workspace = true, features = ["macros"] }
windows = { workspace = true, features = [
    "Win32_System_JobObjects",
    "Win32_System_Threading",
    "Win32_Security",
] }

[target.'cfg(windows)'.dev-dependencies]
new_zealand = { workspace = true }

[dev-dependencies]
mutants = { workspace = true }

[lints]
workspace = true
