[package]
name = "events"
description = "Superseded - use events_once instead"
publish = true
version = "0.5.1"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]

[lints]
workspace = true
