[package]
name = "pinned_pool"
description = "Superseded - use infinity_pool instead"
publish = true
version = "0.2.1"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]

[lints]
workspace = true
