[package]
name = "region_local"
description = "Isolated variable storage per memory region, similar to `thread_local_rc!`"
publish = true
version = "1.0.7"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.cargo_check_external_types]
allowed_external_types = ["linked::family::Family", "linked::object::Object"]

[features]
default = []

[dependencies]
arc-swap = { workspace = true }
derive_more = { workspace = true, features = ["debug"] }
linked = { workspace = true }
many_cpus = { workspace = true }
new_zealand = { workspace = true }
rsevents = { workspace = true }
scopeguard = { workspace = true }
simple-mermaid = { workspace = true }

[dev-dependencies]
axum = { workspace = true, features = ["http1", "tokio"] }
criterion = { workspace = true }
mockall = { workspace = true }
mutants = { workspace = true }
par_bench = { path = "../par_bench", features = ["criterion"] }
static_assertions = { workspace = true }
tokio = { workspace = true, features = ["net", "rt-multi-thread"] }

[[bench]]
name = "region_local"
harness = false

[lints]
workspace = true
